*{
  margin:0;
  padding:0; 
  box-sizing: border-box;
}
/* heading */
 h1{
    font-family:serif;
    margin:0;
    font-size:180%;
    word-spacing:3px;
    font-weight:300%;
    letter-spacing:1px;
    color:#000;
    padding-right:10px;
    padding-top:20px;
    text-align: center;
    margin-bottom: 2ch;
}

h2{
  font-size:100%;
  color:#000;
  text-align: center;
  font-family:monospace;
}

/* background*/
body {
background:linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
background-size:cover;
background-position:center;
height:100vh; 
background-attachment: fixed;
}

p{
  color:#000;
  padding-top:2ch;
  text-align: center;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  background: transparent;
  color:#000;
  display: inline-block;
  border-radius:25px 25px;
  box-sizing: border-box;
  font-family: monospace;
  border-color: #fff;
  border-style: ridge;
}

.container b{
    width:26px;
    float: left; 
    font-family:cursive;
    color:#000;
}

button {
  background:#00cec9;
  color:#fff;
  padding: 10px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  border-color: #fff;
  border-radius: 25px 25px;
  font-family: sans-serif;
  font-size:120%;
  margin-top: 2ch;
  margin-bottom:2ch;
  border-style: none;
}

.container {
  color:#fff;
  font-family:sans-serif;
  font-size:100%;    
  max-width: 300px;
  height: 62vh;
  overflow: hidden;
  box-shadow: 0 30px 80px 10px rgba(0,0,0,.2);
  display: flex;
  align-items: stretch;
  flex: 1;
  background:#fff;
  padding: 35px 30px;
  margin-left: 610px;
  margin-top: 8ch;
  display: grid;
  flex-direction: column;
}
.navbar a{
  color:#fff;
  font-size:120%;
}

.navbar a:hover,
a:active{
    color:#10efe6;
}
  
 ul{
     list-style:none;
     padding-bottom: 1ch;
     padding-right: 8ch;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

  li{ 
      float:right;
      padding-right: 40px;
  }

  li a{
      display:block;
      text-decoration:none;
      padding-top: 2ch;
  }

 .forgetpasslink a{
      font-size:120%;
      color: #000;
      display:block;
      text-decoration:none;
      padding-bottom:1px;
  }
  
 .forgetpasslink a:hover,
  a:active{
      color:#10efe6; 

  }
  

  .btn-ghost:link, 
  .btn-ghost:visited{
    border:1px solid #10efe6; 
    color:#10efe6; 
    display:inline-block;
    float:right;
    padding:8px 30px;
    margin-right: 4ch;
    font-weight:300;
    margin-top:8px;
    text-decoration:none;
    border-radius:200px;
    -webkit-transition:background-color 0.2s, border 0.2s, color 0.2s;
    transition:background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-ghost:hover, 
.btn-ghost:active{
    border:1px solid #2ecc71;
    color:#2ecc71;
}

